body {
  background-color:  #e6e6e6;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;

}

a {
  text-decoration: none;
  color: navy;
}

p {
  text-align: center;
  margin: 5px;
}

canvas {
  border: 1px solid grey;
  display: block;
  background-color: lightgreen;
  background-image: url("./image/hill.png");
  max-width: 700px;
  max-height: 500px;
  margin: 0 0 60px 0;
  box-sizing: border-box;
  z-index: -5;
}

.game-canvas {
  margin: 0 20px;
  position: relative;
}


header {
  width: 100%
}
article {
  margin: 20px;
}

aside {
  /*min-width: 250px;*/
  width: 250px;
}

.cf:after {
  content: "";
  display: block;
  clear: both;
}

#score1, #score2 {
  font-weight: bolder;
}

#score1 {
  color: blue;
}

#score2 {
  color: red;
}



.directions {
  background-color: white;
  border: 1px dashed grey;
  padding: 0 10px;
  border-radius: 10px;
  font-size: 14px;
  margin: 0 15px 60px 0;
  position: relative;
}

.directions img {
  height: 60px;
  padding: 10px;
  /*float: right;*/
}

figure {
  margin: 0;
}

.directions a {
  position: absolute;
  top: -20px;
  left: 10px;
  pointer-events: all;
}

.directions:hover a {
  top: -90px;
}
.directions figure:hover {
  top: -90px;
}

.directions a .bubble {
  position: relative;
  display: none;
  top: -8px;
  left: 70px;
  width: 100px;
  height: 55px;
}

.directions:hover a .bubble {
  display: block;
}
.directions figure:hover .bubble {
  display: block;
}

.directions a .cat {
  position: relative;
  height:70px;
  top: -10px;
  z-index: -1;
  animation: peak 7s linear infinite;
  transition: all 0.3s;
}

.directions:hover a .cat {
  top: -40px;
  animation: waive 6s linear infinite;
}
.directions figure:hover .cat {
  top: -40px;
  animation: waive 6s linear infinite;
}

@keyframes waive {
    0%   {transform: rotateZ(0deg);}
    10%  {transform: rotateZ(0deg);}
    15%  {transform: rotateZ(10deg);}
    20%  {transform: rotateZ(-10deg);}
    25%  {transform: rotateZ(10deg);}
    30%  {transform: rotateZ(-10deg);}
    35%  {transform: rotateZ(0deg);}
}

@keyframes peak {
    0%    {transform: translateY(0px);}
    40%   {transform: translateY(0px);}
    45%   {transform: translateY(-15px);}
    70%   {transform: translateY(-15px);}
    75%   {transform: translateY(0px);}
    100%  {transform: translateY(0px);}
}


span {
  padding: 0 5px;
}

button {
  cursor: pointer;
  width: 200px;
  background-color: blue;
  color: white;
  min-height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  position: absolute;
  top: 275px;
}

button:hover {
  background-color: purple;
}

#start-button-ai {
  left: 100px;
}

#start-button {
  left: 400px;
}

.overlay

img {
  display: inline-block;
}

h4 {
  margin: 10px 0;
  font-family: 'Shadows Into Light', cursive;
  letter-spacing: 2px;
}

h3 {
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  letter-spacing: 4px;
  margin: 0 0 15px  0;
}

h2 {
  display: block;
  margin: 10px 0;
  font-family: 'Shadows Into Light', cursive;
  letter-spacing: 2px;
}

h1 {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 4px;
    margin: 0;
}

.hidden{
  display: none;
}



.game-info {
  margin: 5px auto;
  display: flex;
  position: absolute;
  justify-content: center;
  width: 100%;
}

.game-info span:nth-child(odd) {
  width: 100px;
}
.game-info span:nth-child(even) {
  width: 50px;
}


.game-screen {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;;
}
