body {
  font-family: sans-serif;
  background-color:  #e6e6e6;
  font-size: 18px;
}

p {
  text-align: center;
}

canvas {
  border: 1px solid grey;
  display: block;
  background-color: lightgreen;
  background-image: url("./image/hill.png");
  max-width: 700px;
  max-height: 500px;
}

.game-canvas {
  margin: 0 20px;
  position: relative;
}


header {
  width: 100%
}
article {
  margin: 20px;
}

aside {
  /*min-width: 250px;*/
  width: 250px;
}

.cf:after {
  content: "";
  display: block;
  clear: both;
}

#score1, #score2 {
  font-weight: bolder;
}

#score1 {
  color: blue;
}

#score2 {
  color: red;
}



.directions {
  background-color: white;
  border: 1px dashed grey;
  padding: 0 10px;
  border-radius: 10px;
  font-size: 14px;
}

.directions img {
  height: 75px;
  padding: 15px 25px 20px 15px;  /*float: right;*/
}

span {
  padding: 0 5px;
}

button {
  cursor: pointer;
  width: 200px;
  background-color: blue;
  color: white;
  min-height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  position: absolute;
  top: 250px;
  left: 250px;
}

.overlay

img {
  display: inline-block;
}

h4 {
  margin: 0;

}

h3 {
  display: inline-block;
}

h2 {
  display: block;
  margin: 10px 0;
}

h1 {
    text-align: center;
}

.hidden{
  display: none;
}



.game-info {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 20px;
  width: 75%;
}

.game-info span:nth-child(odd) {
  width: 100px;
}
.game-info span:nth-child(even) {
  width: 50px;
}


.game-screen {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;;
}
